  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rosybrown;
    font-family: 'Fredoka', sans-serif;
    background-color: var(--gray);
    color: var(--text-dark);
    padding: 2rem;
  }


 :root {
  --yellow: #FFCB05;
  --blue: #5161da;
  --red: #E3350D;
  --gray: #beb6b6b1;
  --text-dark: #2c2c2c;
  --text-light: #ffffff;
  --border-radius: 16px;
}
  
  /* HEADER */
  header {
    background-color: var(--blue);
    color: var(--text-light);
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
  }

.d-none {
    display: none;
}
  

header img {
    width: 200px;
    height: 200px;
    flex-direction: column;
}
  
  header h1 {
    font-size: 60px;
    letter-spacing: 2px;
  }

  .header-left{
    display: flex;
    align-items: center;
  }

  .header-left img.logo {
    width: 40px; /* oder wie groß dein Icon sein soll */
    height: auto;
  }

  .header-left h1 {
    font-size: 5rem;
    margin: -34px;
  }


  .search-div {
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .search-icon {
    position: absolute;
    right: 12px;
    width: 22px;
    height: 22px;
    pointer-events: none;
  }
  
  #search-input {
    width: 450px;
    padding: 10px 35px 10px 15px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 12px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #search-input:focus {
    border-color: #3b4cca; /* Pokémon-Blau */
    box-shadow: 0 0 5px rgba(59, 76, 202, 0.5);
  }
  
  #search-close {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #999;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  #search-close:hover {
    color: #e74c3c;
  }


footer {
    background-color: var(--blue);
    color: var(--text-light);
    padding: 2rem 0;
    text-align: center;
    border-radius: var(--border-radius);
    margin-top: 3rem;
  }

footer p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  footer .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

.btn-container {
  padding-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .add-more-btn {
    display: flex;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
  }
